# --- Core ---
fastapi==0.115.0
uvicorn[standard]==0.30.0
gunicorn==21.2.0
python-dotenv==1.0.1

# --- Data & ML ---
pandas==2.2.3
duckdb
numpy==2.2.6
scikit-learn==1.5.2
xgboost==2.1.1
joblib==1.4.2

# --- Utilities ---
requests==2.32.3
loguru==0.7.2
